<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Santa's Coming</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Theming -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDipaxF46OqZv1PALfyOw6uxWHc1I2qvOg",
    authDomain: "wish-list-ff7f7.firebaseapp.com",
    databaseURL: "https://wish-list-ff7f7.firebaseio.com",
    projectId: "wish-list-ff7f7",
    storageBucket: "wish-list-ff7f7.appspot.com",
    messagingSenderId: "92960602198"
  };
  firebase.initializeApp(config);
</script>

    <!-- Your Javascript -->
    <script src="javascripts/script.js"></script>

</head>


<body ng-app="myApp" ng-controller="myCtrl">
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header section containing title -->
  <header class="mdl-layout__header mdl-color-text--white mdl-color--red-600">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
        <img src="images/Santa-clipart.png" height="50px"/>
	<h3>Wish List Creator</h3>
        <img src="images/Santa-clipart2.png" height="50px"/>
      </div>
    </div>
  </header>


  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

      <!-- Container for the demo -->
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">

        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <p>Sign in with your GitHub account below.</p>

          <!-- Button that handles sign-in/sign-out -->
          <button ng-disabled="signingIn" ng-click="toggleSignIn()" class="mdl-button mdl-js-button mdl-button--raised">Sign in/out with GitHub</button>

          Firebase sign-in status: <span id="quickstart-sign-in-status">{{signInStatus}}</span>
          <hr ng-if="user"/>

          <!-- Container where we'll display the user details -->
          <div class="quickstart-user-details-container">

		<form ng-submit="addItem()" ng-show="user">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" ng-model="formName">
                <label class="mdl-textfield__label" for="sample1">Item Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" title="Don't forget http://">
                <input class="mdl-textfield__input" type="url" ng-model="formURL">
                <label class="mdl-textfield__label" for="sample1">URL</label>
            </div>
    		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Add Item to Wish List</button>
		</form>

		<h1 ng-if="user">Current Wish List</h1>
		<div ng-if="user" ng-repeat="item in wishlist | orderBy:['name']">
		<span class="glyphicon glyphicon-remove" ng-click="delete(item)"></span>
  		{{item.name}}<span ng-if="item.URL">(<a target="_blank" ng-href="{{item.URL}}">Link</a>)</span>
		</div>
          </div>

          <hr ng-if="user"/>
          <a ng-if="user" ng-href="view/{{user.uid}}">View your wishlist. (Share this link with anyone!)</a>
        </div>
      </div>
    </div>
  </main>
</div>
</body>


</html>
